@import "tailwindcss";

@theme {
  --color-primary: #555392;
  --color-secondary: #272354;
  --color-gray: #f7f9ff;
  --color-gray-text: #adb5bd;
  --color-black-text: #333333;
  --color-black-paragraph: #666666;
  --color-light-blue: #4ac4f3;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 100%;
  line-height: 1.6;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  background-color: #ffffff;
  color: #000;
}

a {
  text-decoration: none;
  color: inherit;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #8888887c #f1f1f1;
}
